<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
</head>
<body>
    <h2>Order Details</h2>
    <table>
        <thead>
        <tr>
            <th>Book</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${orderItems}">
            <td th:text="${booksService.getBookById(item.bookId).title}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td>
                <form th:action="@{/review/form}" method="get">
                    <input type="hidden" name="userId" th:value="${userId}" />
                    <input type="hidden" name="bookId" th:value="${item.bookId}" />

                    <button type="submit">Review</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>